<div class="goods-container">
  @for (good of goods; track good) {
    @if (good != undefined) {
      <div class="good">
        <img src="placeholder.png">
        <div class="good-ino">
          <span><b>Id:</b> {{good.id}}</span><br>
          <span><b>Name:</b> {{good.name}}</span><br>
          <span><b>Description:</b> {{good.description}}</span><br>
          <span><b>Image name:</b> {{good.image}}</span><br>
        </div>
      </div>
    } @else {
      <div>
        <span>Loading...</span>
      </div>
    }
    <br>
  }
</div>


<br>
<br>
<br>
<br>
<br>
<div class="admin-menu">
  <h1>ADMINKA:</h1>
  ------------------------------------------------
  <br>
  <div class="props">
    <!--{{goods.length}}-->

    <label for="goodId">ID: </label>
    <!--<input id="goodId" type="number" #goodId (click)="getGood(Number.parseInt(goodId.value))" value="1">-->
    <input id="goodId" type="number" #goodId (input)="getGood(Number.parseInt(goodId.value ? goodId.value : '0'))" value="0" min="0"><br>

    <label for="goodName">Good NAME: </label>
    <input id="goodName" type="text" [(ngModel)]="goodName"><br>

    <label for="goodDescription">Good DESCRIPTION: </label>
    <input id="goodDescription" type="text" [(ngModel)]="goodDescription"><br>

    <label for="goodImage">Good IMAGE: </label>
    <input id="goodImage" type="text" [(ngModel)]="goodImage" value="placeholder.png" disabled="true"><br>

    <br>
    <button (click)="saveGood()">Save</button><br>
    <button (click)="updateGood(Number.parseInt(goodId.value))">Update</button><br>
    <button (click)="deleteGood(Number.parseInt(goodId.value))">Delete</button><br>
  </div>

  <br>
  <br>

  -------------------------------
  <br>
  @if (good) {

    <div class="selected-good">
      <h3 style="margin-top: 0;">Good for {{goodId.value}} id:</h3>
      <span><b>Name:</b> {{good.name}}</span><br>
      <span><b>Description:</b> {{good.description}}</span><br>
      <span><b>Image name:</b> {{good.image}}</span><br>
    </div>
  } @else {
    <span>¯\_(ツ)_/¯</span>
  }
  <br>
  -------------------------------
  <br>
  <br>




  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<!--  <button (click)="getGoodsTest()">Get All</button><br>-->
</div>
